<h1>Create New Task</h1>
<!-- Basic form for creating tasks, url: sends POST and returns to tasks/index-->
<%= form_with scope: :task, url: tasks_path, local: true do |form| %>
    <p>
        <%= form.label :taskName, "Task Name" %><br>
        <%= form.text_field :taskName %>
    </p>
    <p>
        <%= form.label :assingedTo, "User Responsible" %><br>
        <%= form.text_field :assignedTo %>
    </p>
    <p>
        <%= form.label :dueDate, "Due Date" %><br>
        <%= form.text_field :dueDate %>
    </p> 
    <p>
        <%= form.label :collateral, "Collateral" %><br>
        <%= form.text_field :collateral %>
    </p>
    <p>
        <%= form.label :frequency, "Task Frequency" %><br>
        <%= form.text_field :frequency %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>