<header>
    <h1>Roominder</h1>
    <%= image_tag('roomi.png') %>
</header>
<body>
    <div class="split left">
        <%= image_tag('loginpic.jpg') %>
    </div>
    <div class="split right">
         <h1>Login</h1>
         <%= image_tag('backgroundImage.png') %>
         <div class="loginForm">
            <%= form_tag sessions_path do |form| %>
            <div class="field">
                <!--tag for Email-->
                <%= label_tag "Email", :email, :class =>"emailLabel" %>
                <%= text_field_tag :email, "Email", :class =>"emailInput" %>
                <!--tag for Password-->
                <%= label_tag "Password", :password, :class =>"passwordLabel" %>
                <%= password_field_tag :password, "Password", :class =>"passwordInput" %></br>
            <div class="actions">
                <%= submit_tag "Login", :class =>"logButton" %>
            </div>
        </div>
    </div>
    <% end %>

    <!-- 
        <div class="bgImage">
            <p id='alert'><%= alert %></p>
            <h1>Login</h1>
            <%= form_tag sessions_path do |form| %>
            <div class='field'>
                <%= label_tag :email %>
                <%= text_field_tag :email %>
                <%= label_tag :password %>
                <%= password_field_tag :password %>
            </div>
            <div class="actions">
                <%= submit_tag "Login" %>
            </div>
            <% end %>
        </div>
    -->


    <!--> 
</body>
<footer> 
    &copy Roominder 2020
</footer>