<div class="bgImage">
    <p id='alert'><%= alert %></p>
        <h1>Login</h1>
            <%= form_tag sessions_path do |form| %>
        <div class='field'>
             <!--tag for Email-->
            <%= label_tag :email %>
            <%= text_field_tag :email %>
            <!--tag for Password-->
            <%= label_tag :password %>
            <%= password_field_tag :password %>
        </div>
        <div class="actions">
            <%= submit_tag "Login" %>
        </div>
    <% end %>
</div>