<header>
    <h1>Roominder</h1>
    <%= image_tag('roomi.png') %>
</header>
<body>
    <div class = "loginInfo">
        <h1>Login</h1>
            <div class = "oneHalf">
                <%= image_tag('AvImage.jpg') %>
            </div>
            <%= form_tag sessions_path do |form| %>
             <!--tag for Email-->
            <%= label_tag "Email", :Email, :class =>"emailLabel" %>
            <%= text_field_tag "Email", :Email, :class =>"emailInput" %>
            <!--tag for Password-->
            <%= label_tag "Password", :Password, :class =>"passwordLabel" %>
            <%= password_field_tag "Password", :Password, :class =>"passwordInput" %></br>
            <!--Submit button-->
            <%= submit_tag "Login", :class =>"logButton" %>
    </div>
    <% end %>
</body>
<footer> 
    &copy Roominder 2020
</footer>