<header>
    <h1>Roominder</h1>
    <%= image_tag('roomi.png') %>
</header>
<body>
    <div class="split left">
        <%= image_tag('loginpic.jpg') %>
    </div>
    <div class="split right">
         <h1 id="loginHead">Login</h1>
         <%= image_tag('backgroundImage.png') %>
         <div class="loginForm">
            <%= form_tag sessions_path do |form| %>
                <!--tag for Email-->
                <%= label_tag "Email", :email, :class =>"emailLabel" %>
                <%= text_field_tag :email, "Email", :class =>"emailInput" %>
                <!--tag for Password-->
                <%= label_tag "Password", :password, :class =>"passwordLabel" %>
                <%= password_field_tag :password, "Password", :class =>"passwordInput" %></br>
            <div class="actions">
                <%= submit_tag "Login", :class =>"logButton" %>
            </div>
    </div>
    <% end %>
</body>
<footer> 
    &copy Roominder 2020
</footer>