<div class = "login-header">
    <h1>Roominder</h1>
    <%= image_tag('roomi.png') %>
    <div class= "field">
        <h1>Login</h1>
            <%= form_tag sessions_path do |form| %>
             <!--tag for Email-->
            <%= label_tag :email %>
            <%= text_field_tag :email %>
            <!--tag for Password-->
            <%= label_tag :password %>
            <%= password_field_tag :password %></br>
            <!--Submit button-->
            <%= submit_tag "Login" %>
        </div>
        <!--
        <div class="actions">
            <%= submit_tag "Login" %>
        </div>
        -->
    <% end %>
</div>
<div class = "login-footer"> 
&copy Roominder 2020
</div>