<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <!--Title and buttons-->
  <div class="middle">
    <h1>Roominder</h1>
    <hr>
      <div class = "appbuttons">
      <%= form_with url: rooms_path, method: :get, local: true do |form| %>
          <p>
              <%= form.label :username, "Username" %><br>
              <%= form.text_field :username %>
          </p>
          <p>
              <%= form.label :password, "Password" %><br>
              <!-- TODO: on frontend, don't display passwords in plain text -->
              <%= form.text_field :password %>
          </p>
          <p>
          <!-- TODO: on frontend, style the form submit button -->
              <%= form.submit %>
          </p>
      <% end %>
      <!-- TODO: on frontend, space apart the form submit button and sign up button -->
      <%= button_to "Sign Up", sign_up_create_join_path, id: "sign", class: "button", method: :get%>
      </div>
  </div>
  <!--footer-->
  <!-- TODO: on frontend, rename class to something more descriptive. "footer"? -->
  <div class="bottomleft">
    <p>&copy; Roominder 2020</p>
  </div>
</div>
<!--<footer>&copy; Roominder 2020</footer>-->