<div class="bgimg">
  <!--Title and buttons-->
  <div class="middle">
    <h1>Roominder</h1>
       <p>One way stop for Interactive Chores!</p>
        <%= session = nil%>
        <% if current_user %>
          <p id="logUser">Logged in as <%= current_user.username %>.</p>
          <%= button_to "Tasks", class: 'welcomeButtons', method: :get %>
          <%= button_to "Log Out", logout_path, class: 'welcomeButtons', method: :get %>
        <% else %>
          <%= button_to "Sign Up", sign_up_index_path, class: 'welcomeButtons', method: :get %>
          <%= button_to "Log In", login_path, class: 'welcomeButtons', method: :get %>
          <button type="submit" id="roomiPic" class = "welcomeButtons">Roomie</button>
        <% end %>
  </div>
  <!--footer-->
  <div class="footer">
    <p>&copy; Roominder 2020</p>
  </div>
</div>
